.price {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(#ffffff, 0.1);
}

.price__currency {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: auto;
  opacity: 0.7;
  cursor: pointer;

  @include hover {
    opacity: 1;
  }
}

.price__amount {
  display: block;
  font-size: 38px;
  font-weight: 800;
  line-height: 100%;
  margin-right: 5px;
}

.price__period {
  display: block;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 400;
  margin-top: auto;
  cursor: pointer;

  @include hover {
    opacity: 1;
  }
}
